body {
    font-family: sans-serif;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}
.container {
    padding: 40px 20px;
    text-align: center;
    max-height: 100%;
    justify-content: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

select {
    white-space: pre-line;
    font-size: 16px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 0 auto;
    text-align: left;
    max-width: 250px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-bottom: 24px;
}

.button-group button {
    font-size: 16px;
    padding: 5px 15px;
    margin: 10px;
    cursor: pointer;
}

.role-list {
    white-space: pre-line;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 auto;
    text-align: left;
    max-width: 250px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

button {
    margin-top: 30px;
    padding: 5px 15px;
    font-size: 16px;
}
